*{
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;

}

input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none; /* Edge/IE */
}

body {
  background-color: #003049;
  width: 100vw;
  height: 100vh;
}

svg{
  width: 24px;
  height: 24px;
  margin-left: -180px;
margin-bottom: -15px;
}

h1.titulo {
  margin: 15px 0 5px;
}

h1 {
  font-size: 15px;
  color: #003049;
  align-self: flex-start;

}

h2 {
  font-size: 30px;
  font-style: extra-bold;
  margin-top: 5px;
  margin-bottom: 10px;
  color: #003049;
}

#entrar {
  width: 250px;
  height: 40px;
  border-radius: 30px;
  border: none;
  background-color: #003049;
  color: #f0f7da;
  cursor: pointer;
  margin-bottom: 15px;
}

#entrar h1 {
  font-size: 18px;
  color: #f0f7da;
}

#conta{
    margin-top: 10px;
}

#cadastrar {
  width: 150px;
  height: 30px;
  border-radius: 40px;
  border: none;
  text-align: center;
  cursor: pointer;
  background-color: #f0f7da;
  border: solid 2px;
  border-color: #003049;
  margin-top: 15px;
  margin-bottom: -10px;
}

#esqueceu {
  font-size: 14px;
  margin: 5px 0 15px;
}

#esqueceu p{
  font-size: 17px;
  color: #003049;
}

input {
  width: 250px;
  height: 30px;
  border-radius: 50px;
  border: 1px solid rgb(4, 4, 4);
  padding-left: 10px;
  font-size: 13px;
}

p {
  font-size: 17px;
  margin: 0 0 5px;
}

.campo {
  display: flex;
  align-items: center;
  position: relative;
}

.campo img {
  position: absolute;
  width: 20px;
  height: 20px;
}

.campo input {
  padding-left: 40px;
  padding-right: 40px;
  height: 36px;
  width: 300px;
  box-sizing: border-box;
}

.campo img:first-child {
  left: 10px; /*olhar isso depois*/
  pointer-events: none;
}

#toggleSenha {
  right: 10px;
  cursor: pointer;
  pointer-events: auto;
  transition: transform 0.2s ease;
}

#toggleSenha:hover {
  transform: scale(1.1);
}

a {
  color:#003049;
  font-size: 14px;
}

.conteiner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.centro {
  width: 970px;
  height: 500px;
  background-color: white;
  border-radius: 50px;
  padding: 1px;
  margin: 1px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.login {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.img {
  display: flex;
  align-items: center;
  height: 100%;
}

.fundo {
  background-color:  #2d6073;
  display: flex;
  align-items: center;
  border-radius: 50px;
  height: 430px;
  width: 450px;
  overflow: hidden;
}

.rodrigo {
  border-radius: 50px;
  width: 450px;
  height: 435px;
}

#toggleSenha{
  margin-bottom: -10px;
  margin-top: 8px;
}

.logo {
  padding: 0;
  margin-top: 0;
}

#edu {
  margin: 5px 0 5px;
}

.input-icon {
  position: relative;
  width: 100%;
}

.input-icon svg {
  position: absolute;
  left: 10px;      /* distância da borda esquerda */
  top: 50%;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  color: #000000;     /* cor do ícone */
  pointer-events: none; /* para o clique ir direto pro input */
}

.input-icon input {
  height: 36px;
  width: 300px;
  padding-left: 35px; /* espaço para o ícone */
  border: 1px solid #003049;
  border-radius: 40px;
  font-size: 14px;
}

#conta{
    margin-bottom: -12px;
    margin-top: 0px;

}

/* ======== RESPONSIVIDADE: CELULAR 390x844 (iPhone 12 Pro) ======== */
@media screen and (max-width: 400px) {
  body {
    background-color: #003049;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .conteiner {
    height: auto;
    width: 100%;
    padding: 0 10px;
  }

  .centro {
    flex-direction: column; /* empilha */
    width: 100%;
    height: auto;
    border-radius: 30px;
    padding: 15px 0;
    background-color: white;
    gap: 10px;
  }

  /* imagem vai para o topo */
  .img {
    order: -1;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .fundo {
    width: 90%;
    height: auto;
    border-radius: 30px;
    background-color: #2d6073;
    overflow: hidden;
    display: flex;
    justify-content: center;
  }

  .rodrigo {
    width: 100%;
    height: auto;
    border-radius: 30px;
  }

.login {
  display: flex;
  flex-direction: column;
  align-items: center;    /* centraliza na horizontal */
  justify-content: center; /* centraliza na vertical */
  text-align: center;
}

  .logo {
    order: -3;
    width: 150px;
    height: auto;
    margin-bottom: 5px;
  }

  h2 {
    font-size: 22px;
    text-align: center;
    margin-bottom: -4px;
  }

  h1.titulo {
    font-size: 16px;
  }

  .campo input {
    width: 100%;
    height: 36px;
    font-size: 14px;
  }

  #entrar {
    width: 80%;
    height: 45px;
    font-size: 16px;
  }

  #cadastrar {
    width: 110%;
    height: 40px;
    font-size: 15px;
    margin-top: 25px;
    margin-bottom: 10px;
  }

  #esqueceu p,
  p {
    font-size: 15px;
    text-align: center
  }

  a {
    font-size: 15px;
  }

  /* Centralizar a casinha no topo */
  .login a svg {
    order: -1;
    position: absolute;
    top: 15px;           /* distância do topo */
    left: 50%;           /* centraliza horizontalmente */
    transform: translateX(-50%);
    margin: 0;           /* remove margens antigas */
    width: 28px;
    height: 28px;
    color: #003049;
  }
  
  /* Evita que o SVG empurre o conteúdo */
  .login {
    position: relative;
    padding-top: 50px;   /* espaço pra casinha não cobrir o conteúdo */
  }

}